html,body{
    color: #113;
    margin: 0;
    height: 100%;
    overflow-x: hidden
}

.main{
    background-image: url(img/back.jpg);
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.greeting{
    background-color: transparent;
    height: 92%;
    width: 100%;
}

.hello-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hello-message h4{
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
    font-size: 70px;
    color: #000;
    text-align: center;
}

.hello-message p{
    font-family: 'Amatic SC', cursive;
    font-size: 34px;
    color: #000;
    text-align: center;
    
}

.developed-by{
    position: absolute;
    bottom: 0%;
    right: 5%;
    width: 115px;
}

.developed-by p{
    padding: 0;
    margin: 0;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 16px;
    color: #000;
    width: 80px;
}

.nav-item {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 16px;
    color: #000;
}

.sign {
    text-decoration: none;
    color: #000;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 16px;
}

.sign:hover{
     text-decoration: none;
}

.developed-by p::after{
    position: absolute;
    right: 0;
    content: "Solovev E.S.";
    font-family: 'Amatic SC', cursive;
    font-size: 16px;
    color: #000;
}


.navbar{
    width: 80%;
    height: 8%;
    margin: 0 auto;
    z-index: 1000;
    height: 50px;
    background-color: transparent;

}

.navbar-brand{
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
    color: #fff;
}

.log-page{
    width: 600px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-wrapper{
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
}

.log-page{
    width: 100%;
    height: 100%;
    position: relative;
}

.log-page form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.set-find-message{
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

.set-find-message .input-message{
    margin: 15px;
}

.set-find-message .form-wrapper-search{
    margin: 15px;
}

.set-find-message .message-text textarea{
    height: 150px;
    text-align: bottom;
}

.user-list h2{
    text-align: center;
    width: 100%;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
}

.user-name h5 {
    text-align: center;
    width: 100%;
    font-family: 'Cabin Sketch', cursive;
    font-weight: 700;
}
